{% extends "base.html" %}
{% block content %}
  <img src="./static/patrick.png" alt="Me! (and dog)">
  <h2>Hi! My name is Patrick and I'm a nerd.</h2>
  <p>- I live in Brooklyn, NY</p>
  <p>- I'm an infrastructure engineer for a mid sized news publishing company</p>
  <p>- I grew up in Maryland's DC suburbs, and lived inside of DC for many years</p>
  <p>- I love Linux, continuous delivery, Python, and Ruby</p>
  <p>- I love basketball and I'm a Wizards fan</p>
  <p>- I grew up going to punk and hardcore shows, and can still be seen in the back of the room when really good bands play</p>
  <p>- In another life I worked in supply chain management and logistics</p>

  <h2>
    Links
  </h2>
  <p>GitHub: <a href="https://github.com/whitepatrick" target="=_blank"> whitepatrick</a></p>
  <p>Twitter: <a href="https://twitter.com/operations_ivy" target="=_blank">@operations_ivy</a></p>
  <p>LinkedIn: Sorry, I stopped using this service due to spam overload</p>

{% endblock %}
