<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Trek Blog!</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>.content {padding-top: 80px;} a.brand {color: #fff }</style>
    <style>body {background-color:#999999; color:#333;}</style>
    <style>a:link {COLOR: #006600;} a:visited {COLOR: #006633;} a:hover {COLOR: #003333;} a:active {COLOR: #00FF00;}</style>
  </head>

  <body>

    {%- block topbar -%}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <h2>
              <a href="/" class="brand">twenty eyes dot org </a>
          </h2>
        </div>
        <div class="navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/about">About Me </a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    {%- endblock -%}

    <div class="container">
      <div class="content">
        {% block page_header %}{% endblock %}
        {% block content %}{% endblock %}
      </div>
    </div>

    {% block js_footer %}{% endblock %}
  </body>
</html>
